*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.header{
    padding: 2rem;
    background-color: black;
    color: grey;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.main{
    background-image: url("https://people.com/thmb/K9wZaxPAXEE7ZCyLMMVC6rzMZSA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(629x259:631x261)/jason-momoa-emilia-clarke-633dfd6784b34358b6bd44e7ca62bd4f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

#ip-box{
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    height: 20vh;
    font-family: sans-serif;
    color: white;
    background-color: black;
    border-radius: 1rem;
    border-color: silver;
}

.btn{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    border-style: none;
    border-radius: 1rem;
    font-weight: bold;
    color: black;
    background-color: beige;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: silver;
    padding: 1rem;
    margin: 0px;
    font-size: larger;
}

h2{
    margin-top: 30px;
}